.container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  border: 1px solid;
  width: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.circle {
  border: 1px solid;
  position: relative;
  cursor: pointer;
}
.circle:before,
.circle:after {
  content: "";
  position: absolute;
  background: rgba(255, 251, 4, 0.685);
  opacity: 0;
  left: 0;
  top: 0;
  display: none;
  z-index: -2;
  transition: all 0.3s;
}
.circle:before {
  width: 100%;
  height: 1000%;
  transform: translateY(-50%);
}
.circle:after {
  width: 1000%;
  height: 100%;
  transform: translateX(-50%);
}
.circle:hover {
  background: #fdca00;
}
.circle:hover:before,
.circle:hover:after {
  display: block;
  opacity: 1;
}
.circle:hover div {
  background: black;
}
.circle > div {
  background-color: #3737ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 9px;
}
